<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remote_learning_plus.remotelearningplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemoteLearningPlus">
        <activity android:name=".CourseInformationPage"/>
        <activity android:name=".StudentQuestions" />
        <activity android:name=".Home_Teacher" />
        <activity android:name=".Home_Student" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".CourseInformation" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectCourseTimes"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateCourse"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".JoinCourse" />
        <activity android:name=".student_course_home" />
        <activity android:name=".instructor_course" />
        <activity android:name=".Student_Ask_Question" />
    </application>

</manifest>